# Sales Analysis

## Table of contents:

- 1.
- 2.
- 3.

## Introduction:

Blah Blah Blah Blah

## 1. Importing necessary libraries

In [1]:
# import libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## 2. Gathering data

**All sales data are provided to us in a CSV format.**

In [2]:
os.listdir('./data/')

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

## 3. Assessing data

In [3]:
# exploring data
df_jan = pd.read_csv('./data/Sales_January_2019.csv')
df_feb = pd.read_csv('./data/Sales_February_2019.csv')
df_mar = pd.read_csv('./data/Sales_March_2019.csv')
df_apr = pd.read_csv('./data/Sales_April_2019.csv')
df_may = pd.read_csv('./data/Sales_May_2019.csv')
df_jun = pd.read_csv('./data/Sales_June_2019.csv')
df_jul = pd.read_csv('./data/Sales_July_2019.csv')
df_aug = pd.read_csv('./data/Sales_August_2019.csv')
df_sep = pd.read_csv('./data/Sales_September_2019.csv')
df_oct = pd.read_csv('./data/Sales_October_2019.csv')
df_nov = pd.read_csv('./data/Sales_November_2019.csv')
df_dec = pd.read_csv('./data/Sales_December_2019.csv')

In [4]:
df_jan.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [5]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9697 non-null   object
 3   Price Each        9697 non-null   object
 4   Order Date        9697 non-null   object
 5   Purchase Address  9697 non-null   object
dtypes: object(6)
memory usage: 455.9+ KB

In [6]:
df_jan.isnull().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               9697
True      True     True              True        True        True                  26
dtype: int64

In [7]:
print(f"Jan: {df_jan.shape}")
print(f"Feb: {df_feb.shape}")
print(f"Mar: {df_mar.shape}")
print(f"Apr: {df_apr.shape}")
print(f"May: {df_may.shape}")
print(f"Jun: {df_jun.shape}")
print(f"Jul: {df_jul.shape}")
print(f"Aug: {df_aug.shape}")
print(f"Sep: {df_sep.shape}")
print(f"Oct: {df_oct.shape}")
print(f"Nov: {df_nov.shape}")
print(f"Dec: {df_dec.shape}")

Jan: (9723, 6)
Feb: (12036, 6)
Mar: (15226, 6)
Apr: (18383, 6)
May: (16635, 6)
Jun: (13622, 6)
Jul: (14371, 6)
Aug: (12011, 6)
Sep: (11686, 6)
Oct: (20379, 6)
Nov: (17661, 6)
Dec: (25117, 6)

### Assessment Summary

**Quality issues**
Erroneous datatypes:
- `Quantity Ordered` should be `float`.
- `Price Each` should be `int`.
- `Order Date` should be `datetime`.
- In columns names: Replace space with underscore `_` for easy usage. (Optional)
- Missing Values

**Tidiness issues**
- All sales data from the 12 months should be merged into one dataset.
- `Total Price` column should be added >> `Total Price = Quantity Ordered * Price Each`.
- Extact `Month` from `Order Date`.

## 4. Cleaning data

**1. Merge the datasets to clean it one time**

**Code**

In [8]:
df_all = pd.DataFrame()

for file in os.listdir('./data/'):
    df_temp = pd.read_csv('./data/'+file)
    df_all = pd.concat([df_all, df_temp])
    
df_all.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

**2. Remove `NaN` values**

**Define**
- Drop `NaN` values

In [9]:
df_all.isna().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               186305
True      True     True              True        True        True                   545
dtype: int64

**Code**

In [10]:
df_all.dropna(inplace=True)

**Test**

In [11]:
df_all.shape

(186305, 6)

In [12]:
df_all.isna().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               186305
dtype: int64

**3. Rename the columns**

**Define**
- Rename the columns to a lower case and replace the white space with an underscore to easy usage

**Code**

In [13]:
df_all.rename(columns=lambda x: x.lower().replace(' ','_'), inplace=True)

**Test**

In [14]:
for column in df_all.columns:
    print(column)

order_id
product
quantity_ordered
price_each
order_date
purchase_address

**4. Erroneous datatypes: Quantity Ordered & Price Each Should be `float`**

In [15]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          186305 non-null  object
 1   product           186305 non-null  object
 2   quantity_ordered  186305 non-null  object
 3   price_each        186305 non-null  object
 4   order_date        186305 non-null  object
 5   purchase_address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

**Define**
- Convert `Quantity Ordered` & `Price Each` to `float` using `astype()`

**Code**

In [16]:
df_all.quantity_ordered.value_counts()

1                   168552
2                    13324
3                     2920
4                      806
Quantity Ordered       355
5                      236
6                       80
7                       24
8                        5
9                        3
Name: quantity_ordered, dtype: int64

**4.A Remove `"Order ID	Product	Quantity Ordered	Price Each	Order Date	Purchase Addres"` rows**

In [17]:
df_all.query('quantity_ordered == "Quantity Ordered"')

,order_id,product,quantity_ordered,price_each,order_date,purchase_address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
10000,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10387,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11399,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11468,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11574,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [18]:
df_all.drop(df_all.index[df_all.quantity_ordered == "Quantity Ordered"], inplace = True)

**Test**

In [19]:
df_all.query('quantity_ordered == "Quantity Ordered"')

Empty DataFrame
Columns: [order_id, product, quantity_ordered, price_each, order_date, purchase_address]
Index: []

**4.B Convert the data type**

**Code**

In [20]:
df_all.quantity_ordered = df_all.quantity_ordered.astype(float)
df_all.price_each = df_all.price_each.astype(float)

In [21]:
df_all.order_date = pd.to_datetime(df_all.order_date)

**Test**

In [22]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182735 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          182735 non-null  object
 1   product           182735 non-null  object
 2   quantity_ordered  182735 non-null  float64
 3   price_each        182735 non-null  float64
 4   order_date        182735 non-null  datetime64[ns]
 5   purchase_address  182735 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 9.8+ MB

**5. Create `month` column from `order_date`**

**Define**
- Create `month` column from `order_date` column using `month_name()` function

**Code**

In [30]:
df_all['month'] = df_all.order_date.dt.month_name()

**Test**

In [31]:
df_all.head()

,order_id,product,quantity_ordered,price_each,order_date,purchase_address,month
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",April
2,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",April
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",April
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",April
5,176561,Wired Headphones,1.0,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",April

**6. Create `total_price` column**

**Define**
- Create `total_price` column
- `total_price = quantity_ordered * price_each`

**Code**

In [ ]:
df_all[total_price] =